.Tooltip_root__UkGqs {
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Tooltip_root__UkGqs .Tooltip_tip__nOl_j {
  display: none;
  visibility: hidden;
  max-width: 100vw;
  padding: 0.5rem 1.25rem;
  background-color: var(--palette-background-secondary);
  border-radius: 0.25rem;
  border: 1px solid var(--palette-divider);
  box-shadow: var(--shadow-default);
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-top: 14px;
}
.Tooltip_root__UkGqs .Tooltip_arrow__hZphM {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.5rem;
  border: 0.5rem;
  border-style: solid;
  border-color: transparent transparent var(--palette-divider) transparent;
}
@media (min-width: 60rem) {
  .Tooltip_root__UkGqs:hover .Tooltip_tip__nOl_j {
    color: var(--palette-text-default);
  }
  .Tooltip_root__UkGqs:hover .Tooltip_arrow__hZphM,
  .Tooltip_root__UkGqs:hover .Tooltip_tip__nOl_j {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition-property: opacity;
    transition-duration: var(--animation-duration);
  }
}
.Tag_tip__yu2iV {
  display: flex;
  color: var(--palette-text-secondary);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}
.Tag_tip__yu2iV svg {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.Tag_tip__yu2iV p {
  margin: 0;
  flex: 1 1;
  font-size: 0.9rem;
}
.Tag_icon__eXdRU {
  width: 1.2rem;
  height: 1.2rem;
}
.Tag_tagContent__sjVhs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.25rem 0;
}
.Tag_tagContent__sjVhs h4 {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--palette-text-primary);
}
.Tag_tagContent__sjVhs p {
  margin: 0;
  color: var(--palette-text-primary);
}
.Tag_tagDescription__jPSuS {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.Tag_tagDescription__jPSuS > svg {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.Tag_tagDescription__jPSuS > div {
  flex: 1 1;
}
.Card_root__qEP3_ {
  border-radius: var(--dimensions-border-radius-card);
}
.Card_root__qEP3_.Card_interactive__f7luR:hover {
  box-shadow: var(--shadow-hover);
}
.Card_root__qEP3_.Card_interactive__f7luR {
  box-shadow: var(--shadow-default);
}
.Card_root__qEP3_.Card_outlined__uy0qq {
  border: 1px solid var(--palette-divider);
}
.Card_root__qEP3_.Card_interactive__f7luR:focus {
  box-shadow: var(--shadow-hover);
}
.OfferItem_root__KvSb3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: var(--animation-duration);
}
.OfferItem_root__KvSb3:hover {
  background: var(--palette-background-default);
  border-radius: var(--dimensions-border-radius-card);
  box-shadow: var(--shadow-default);
}
.OfferItem_mobileOfferBanner__vsHo5 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  padding: 7px !important;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: row !important;
  align-items: center;
  border-radius: 20px !important;
}
.OfferItem_mobileOfferBanner__vsHo5 > svg {
  height: 15px;
  width: 15px;
  margin: 0 7px 0 0;
}
.OfferItem_logoContainer__ywTpx {
  width: 100%;
  background: var(--palette-background-default);
  border-radius: var(--dimensions-border-radius-default);
  display: flex;
  border-radius: var(--dimensions-border-radius-card);
  min-height: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}
.OfferItem_logo__m9_qL {
  height: 128px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: #fff;
  border: 1px solid var(--palette-divider);
}
.OfferItem_tags__f9592 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}
.OfferItem_tags__f9592 > * {
  margin-left: 5px;
}
.OfferItem_tags__f9592 .OfferItem_tag__3z2HD {
  background: var(--palette-background-secondary);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
}
.OfferItem_infoContainer__Ad9F1 {
  padding: 0 1rem 1rem;
}
.OfferItem_rewardLabel__n2ngb {
  color: var(--palette-accent-main);
  font-weight: 600;
  margin: 0.25rem 0;
}
@media (min-width: 37.5rem) {
  .OfferItem_rewardLabel__n2ngb {
    font-size: 1.1rem;
    font-weight: 700;
  }
}
.OfferItem_title__u6cBM {
  font-size: 0.85rem;
  color: var(--palette-text-primary);
  line-height: 1.15rem;
  font-weight: 500;
  margin: 0;
}
@media (min-width: 37.5rem) {
  .OfferItem_title__u6cBM {
    font-size: 0.85rem;
  }
}
.OfferItem_advertiser__BydiX {
  font-size: 0.9rem;
  color: var(--palette-text-secondary);
  margin: 0;
  flex-grow: 1;
}
.OfferItem_metaData__KnhUJ {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.OfferList_list__6fDCW {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  grid-row-gap: 1.5rem;
  row-gap: 1.5rem;
  list-style-type: none;
}
@media (min-width: 37.5rem) {
  .OfferList_list__6fDCW {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    row-gap: 2rem;
  }
}
@media (min-width: 60rem) {
  .OfferList_list__6fDCW {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    row-gap: 2.5rem;
  }
}
@media (min-width: 80rem) {
  .OfferList_list__6fDCW {
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: 2.5rem;
  }
}
.OfferList_list__6fDCW > li {
  display: flex;
}
.OfferList_oinq__Flv1a {
  margin-top: 30px;
  width: 256px;
  height: 256px;
  opacity: 0.5;
  align-self: center;
}
.OfferList_imageWrapper__FaZts {
  display: flex;
  justify-content: center;
}
.OfferPromoBanner_root___QDCF {
  border-radius: var(--dimensions-border-radius-default);
  overflow: hidden;
}
.OfferPromoBanner_root___QDCF .OfferPromoBanner_promoBanner__ElvOv {
  display: block;
}
.OfferPromoBanner_root___QDCF
  .OfferPromoBanner_promoBanner__ElvOv
  > :first-child {
  display: block !important;
}
.OfferPromoBanner_root___QDCF
  .OfferPromoBanner_promoBanner__ElvOv
  > :nth-child(2) {
  display: none !important;
}
@media (min-width: 60rem) {
  .OfferPromoBanner_root___QDCF
    .OfferPromoBanner_promoBanner__ElvOv
    > :first-child {
    display: none !important;
  }
  .OfferPromoBanner_root___QDCF
    .OfferPromoBanner_promoBanner__ElvOv
    > :nth-child(2) {
    display: block !important;
  }
}
.OfferPromoBanner_root___QDCF .OfferPromoBanner_promoInfo__VmZHD {
  background-color: var(--palette-accent-main);
  color: var(--palette-accent-contrast-text);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.OfferPromoBanner_root___QDCF .OfferPromoBanner_promoInfo__VmZHD span {
  font-size: var(--dimensions-font-size-large);
  font-weight: 700;
  margin-right: 1rem;
}
.OfferPromoBanner_root___QDCF .OfferPromoBanner_promoInfo__VmZHD p {
  margin: 0;
}
@media (min-width: 37.5rem) {
  .OfferPromoBanner_root___QDCF .OfferPromoBanner_promoInfo__VmZHD {
    padding: 0.75rem 2rem;
  }
  .OfferPromoBanner_root___QDCF .OfferPromoBanner_promoInfo__VmZHD span {
    margin-right: 2rem;
  }
}
.Offers_root__QJbAk {
  display: flex;
  flex-direction: column;
}
.Offers_header__iGrp9 {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.Offers_header__iGrp9 > h1 {
  flex: 1 1;
  margin: 0;
}
@media (min-width: 60rem) {
  .Offers_header__iGrp9 > button {
    display: none;
  }
}
.Offers_content__pWSYP {
  display: flex;
  flex-direction: row;
}
.Offers_search__CHADh {
  width: 100%;
  margin-bottom: 2rem;
}
.Offers_desktopFilters__DAdC5 {
  min-width: 216px;
  align-self: flex-start;
  display: none;
  flex: 0 1;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid var(--palette-divider);
  margin-right: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 60rem) {
  .Offers_desktopFilters__DAdC5 {
    display: flex;
  }
}
.Offers_mobileCategories__dQkUm {
  padding: 2rem;
}
.Offers_categoriesHeading___kCly {
  font-size: var(--dimensions-font-size-normal);
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.Offers_categories__d7L9y {
  margin: 0;
  padding: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 60rem) {
  .Offers_categories__d7L9y {
    padding: 0;
  }
}
.Offers_categories__d7L9y > li {
  border-radius: var(--dimensions-border-radius-default);
  transition: var(--animation-duration);
  position: relative;
  margin: 0 0 0.75rem;
}
.Offers_categories__d7L9y > li:last-child {
  margin: 0;
}
.Offers_categories__d7L9y > li .Offers_selectedCategoryLabel__tCUb1,
.Offers_categories__d7L9y > li a:hover {
  font-weight: 700;
}
.Offers_categoryLabel__WAIiy {
  cursor: pointer;
  text-transform: capitalize;
  color: var(--palette-text-primary);
  transition: var(--animation-duration);
  text-decoration: none;
}
.Offers_historyLink__LcbvR {
  margin-top: 2rem;
  color: var(--palette-interaction-main);
}
.Offers_offerList__EV_Jw {
  width: 100%;
  margin: 0 0 auto;
}
.Offers_offerList__EV_Jw h1 {
  margin-top: 0;
  font-family: Londrina;
  font-weight: 400;
  letter-spacing: 0;
  font-size: var(--dimensions-font-londrina-size-normal);
}
.Offers_offerList__EV_Jw h1 span,
.Offers_offerList__EV_Jw h1 strong {
  color: var(--palette-secondary-main);
}
@media (min-width: 60rem) {
  .Offers_offerList__EV_Jw h1 {
    font-size: var(--dimensions-font-londrina-size-large);
  }
}
.Offers_promo__6JNiN {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=2b8b86ccb3ae02dc.css.map*/
