.ToggleButton_root__5bDNI {
  color: var(--palette-text-primary);
  display: flex;
}
.ToggleButton_text__kje9G {
  padding: 1rem;
  margin: auto;
}
.ToggleButton_inactiveText__qph3Z {
  opacity: 0.4;
}
.ToggleButton_activeText__zW4uj {
  opacity: 1;
  font-weight: 600;
}
.ToggleButton_input__apNGY {
  display: none;
}
.ToggleButton_switch__0WHL5 {
  width: 53px;
  height: 29px;
  margin: auto;
  cursor: pointer;
}
.ToggleButton_disabled__Lt4wf {
  cursor: not-allowed;
}
.ToggleButton_sliderDisabled__2R0hw {
  opacity: 0.3;
}
.ToggleButton_label__cE2Qc {
  display: flex;
}
.ToggleButton_slider__6KJfr {
  display: flex;
  border: 1px solid var(--palette-divider);
  width: 100%;
  min-width: 53px;
  height: 100%;
  border-radius: 34px;
}
.ToggleButton_sliderChecked__QG_3Q {
  justify-content: flex-end;
}
.ToggleButton_unanswered__EL_AA {
  display: none;
}
.ToggleButton_circle__yeevf {
  width: 23px;
  margin: auto 2px;
  height: 23px;
  background-color: var(--palette-background-secondary);
  border: 1px solid var(--palette-divider);
  border-radius: 50%;
}
.ToggleButton_circleChecked__wnv6F {
  background-color: var(--palette-interaction-main);
  border: none;
}
.Collapsible_root__tuLQv {
  display: flex;
  flex-direction: column;
}
.Collapsible_root__tuLQv > button {
  cursor: pointer;
  font-size: var(--dimensions-font-size-normal);
  border-radius: var(--dimensions-border-radius-default);
  background: var(--palette-background-raised);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1;
  color: var(--palette-text-primary);
  font-weight: 500;
  padding: 0.9rem;
  text-align: left;
}
.Collapsible_root__tuLQv > button:active,
.Collapsible_root__tuLQv > button:hover {
  background: var(--palette-background-hover);
}
.Collapsible_root__tuLQv svg.Collapsible_icon__BIpWp {
  height: 0.85rem;
  transition: 0.2s;
  margin: 0 0 0 16px;
}
.Collapsible_iconClosed__WdXD0 {
  transform: rotate(-90deg);
}
.Collapsible_iconOpen__DXH7A {
  transform: rotate(90deg);
}
.Collapsible_content__UgtIP {
  overflow: hidden;
}
.Collapsible_openContent__Tr0LX {
  overflow: visible;
}
.SettingToggle_root__hJGWI {
  background-color: var(--palette-background-default);
  flex-direction: column;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
@media (min-width: 37.5rem) {
  .SettingToggle_root__hJGWI {
    flex-direction: row;
    align-items: flex-start;
  }
}
.SettingToggle_subtitle__sPgoz {
  padding-left: 0;
  margin-bottom: 0;
}
@media (min-width: 37.5rem) {
  .SettingToggle_subtitle__sPgoz {
    padding-left: 1rem;
  }
}
.SettingToggle_title__rT7Zq {
  margin-top: 0;
}
.SettingToggle_list__K01Gl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 30px;
  list-style-type: none;
}
.SettingToggle_list__K01Gl > li {
  display: flex;
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 37.5rem) {
  .SettingToggle_list__K01Gl > li {
    margin: 1rem 0;
  }
}
.SettingToggle_collapsible__ik2Ud {
  align-items: flex-start;
}
.SettingToggle_collapsible__ik2Ud .SettingToggle_collapsibleHeader__EluCu {
  padding: 18px 8px 6px;
  margin: 0;
}
.SettingToggle_collapsible__ik2Ud .SettingToggle_collapsibleHeader__EluCu p {
  padding: 4px 4px 4px 8px;
  margin: 0;
}
.SettingToggle_collapsible__ik2Ud
  .SettingToggle_collapsibleHeader__EluCu:hover {
  background: none;
}
.SettingToggle_collapsible__ik2Ud
  .SettingToggle_collapsibleHeader__EluCu:hover
  svg {
  margin-left: 14px;
}
.SettingToggle_details__yFIZw {
  padding: 4px 8px 8px 16px;
}
.ConsentSettings_root__Wnhoj {
  display: flex;
  flex-direction: column;
}
.ConsentSettings_error__QBhEL {
  color: var(--palette-error-main);
  font-weight: 700;
}
.ConsentSettings_title__pYG7H {
  font-family: Londrina;
  font-weight: 400;
  letter-spacing: 0;
  font-size: var(--dimensions-font-londrina-size-normal);
}
.ConsentSettings_title__pYG7H span,
.ConsentSettings_title__pYG7H strong {
  color: var(--palette-secondary-main);
}
@media (min-width: 60rem) {
  .ConsentSettings_title__pYG7H {
    font-size: var(--dimensions-font-londrina-size-large);
  }
}
/*# sourceMappingURL=444006b8eedde04d.css.map*/
