.ItemList_root__jjHJx {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 37.5rem) {
  .ItemList_root__jjHJx {
    flex-direction: row;
    padding: 1rem;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.ItemList_root__jjHJx > li {
  margin: 0.25rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 37.5rem) {
  .ItemList_root__jjHJx > li {
    margin: 1rem;
    width: 22rem;
  }
}
.Card_root__qEP3_ {
  border-radius: var(--dimensions-border-radius-card);
}
.Card_root__qEP3_.Card_interactive__f7luR:hover {
  box-shadow: var(--shadow-hover);
}
.Card_root__qEP3_.Card_interactive__f7luR {
  box-shadow: var(--shadow-default);
}
.Card_root__qEP3_.Card_outlined__uy0qq {
  border: 1px solid var(--palette-divider);
}
.Card_root__qEP3_.Card_interactive__f7luR:focus {
  box-shadow: var(--shadow-hover);
}
.BlogPostItem_root__0IdxR {
  background-color: var(--palette-background-default);
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.BlogPostItem_root__0IdxR > article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 1 1;
}
.BlogPostItem_root__0IdxR img {
  border-top-left-radius: var(--dimensions-border-radius-card);
  border-top-right-radius: var(--dimensions-border-radius-card);
  overflow: hidden;
  width: 100%;
  height: 180;
  -o-object-fit: cover;
  object-fit: cover;
}
.BlogPostItem_root__0IdxR span {
  color: var(--palette-text-hint);
  font-size: 0.8rem;
}
.BlogPostItem_root__0IdxR h3 {
  margin-bottom: 0.25rem;
  margin-top: 0;
}
.BlogPostItem_root__0IdxR p {
  color: var(--palette-text-secondary);
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  flex: 1 1;
}
.BlogPostItem_root__0IdxR button {
  align-self: flex-start;
}
.BlogPostItem_root__0IdxR button > svg {
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(180deg);
  margin-right: 1rem;
}
.SignUpForm_root__q8VCx,
.SignUpForm_root__q8VCx > form {
  width: 100%;
}
.SignUpForm_mailcheck__cfay3 {
  font-size: 0.8rem;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 var(--dimensions-border-radius-default) 2px
    var(--dimensions-border-radius-default);
}
.SignUpForm_subscript__xzyBI {
  margin: 0.25rem 0;
  font-size: 0.8rem;
  color: var(--palette-text-secondary);
}
.SignUpForm_subscript__xzyBI button {
  color: var(--palette-text-primary);
  text-decoration: underline;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.SignUpForm_subscript__xzyBI a {
  color: var(--palette-text-secondary);
  text-decoration: underline;
}
.SignUpForm_agreementButton__Shsss {
  font-size: 0.8rem;
  color: var(--palette-text-default);
}
.SignUpForm_overlay__l5rJk {
  background: var(--palette-background-default);
  max-width: 50rem;
  overflow: scroll;
}
.SignUpForm_marketing__601_0 {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.SignUpForm_marketing__601_0 > p {
  flex: 1 1;
  margin: 0;
}
.SignUpForm_checkbox__vHDGK {
  cursor: pointer;
  margin: 0 12px 0 0;
}
.SignUpForm_section__VX07D {
  margin-bottom: 1.5rem;
}
.SignUpForm_section__VX07D:last-child {
  margin-bottom: 0;
}
.SignUpForm_signUpBtn__fZsz_ {
  width: 100%;
  display: none;
}
.EntryForm_input__ZEIpu {
  margin-bottom: 0.4rem;
}
.EntryForm_signUpFormSelector__EvOsY {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.EntryForm_signUpFormSelector__EvOsY h3 {
  margin: 10px 0 15px;
}
.EntryForm_signUpFormSelector__EvOsY .EntryForm_active__Ehivs {
  opacity: 1;
}
.EntryForm_signUpFormSelector__EvOsY .EntryForm_inactive__OM4lh {
  opacity: 0.5;
}
.EntryForm_indicator__WwCTL {
  height: 3px;
  width: 0;
  background-color: var(--palette-accent-main);
  position: absolute;
  left: 0;
  transition: var(--animation-duration);
}
.EntryForm_signUpToggle__mhr05 {
  position: relative;
  margin-bottom: 20px;
}
.EntryForm_signUpToggle__mhr05:hover h3 {
  opacity: 1;
}
.EntryForm_activeIndicator__s6Ncx,
.EntryForm_signUpToggle__mhr05:hover span {
  width: 20px;
}
.AsideEntryForm_root__iOtaO {
  display: flex;
  flex-direction: column;
}
@media (min-width: 60rem) {
  .AsideEntryForm_root__iOtaO {
    flex-direction: row;
  }
}
.AsideEntryForm_contentContainer__6S5tR {
  display: flex;
  flex-direction: column;
}
@media (min-width: 60rem) {
  .AsideEntryForm_contentContainer__6S5tR {
    flex: 1 1;
  }
}
.AsideEntryForm_entryContainer__l4WF8 {
  display: flex;
  padding: 1.5rem;
  width: 100%;
  margin: 2rem 0 0;
  background-color: vat(--palette-background-default);
  flex-direction: column;
  align-self: center;
}
@media (min-width: 60rem) {
  .AsideEntryForm_entryContainer__l4WF8 {
    width: 320px;
    align-self: flex-start;
    display: flex;
    position: sticky;
    top: 3rem;
    flex-direction: column;
    margin: 0 0 0 3rem;
    background-color: var(--palette-background-default);
  }
}
.BlogPosts_background__023s_ {
  background-color: var(--palette-background-secondary);
  height: 416px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.BlogPosts_header__YOb6h {
  font-family: Londrina;
  font-weight: 400;
  letter-spacing: 0;
  font-size: var(--dimensions-font-londrina-size-large);
}
.BlogPosts_header__YOb6h span,
.BlogPosts_header__YOb6h strong {
  color: var(--palette-secondary-main);
}
@media (min-width: 60rem) {
  .BlogPosts_header__YOb6h {
    font-size: var(--dimensions-font-londrina-size-xlarge);
  }
}
.BlogPosts_show-more-button__WweHS {
  align-self: center;
}
/*# sourceMappingURL=e30940310f1b929f.css.map*/
