:root {
  --logo-height: 6.25rem;
  --logo-mobile-scale: 0.6;
  --background-url: url(https://sbushsu.au1.qualtrics.com/CP/Graphic.php?IM=IM_bQIWZFb0LXvvLXo);
  --background-color: #cde8da;
  --background-overlay-color: #fff;
  --background-overlay-opacity: 0.8;
  --questions-container-color: #cde8da;
  --font-family: "72", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --question-text-size: 1.25rem;
  --question-text-weight: normal;
  --answer-text-size: 1rem;
  --answer-text-weight: normal;
  --layout-spacing: 0.5;
  --palettes-text-1: #202325;
  --palettes-text-2: #414548;
  --palettes-text-3: #595c5e;
  --palettes-text-4: #636568;
  --palettes-bg-1: #e2e2e2;
  --palettes-bg-2: #dddddd;
  --palettes-bg-3: #d9d9d9;
  --palettes-bg-4: #d2d3d4;
  --palettes-bg-5: #000000;
  --palettes-neutral-1: #d2d2d2;
  --palettes-neutral-2: #cbcbcb;
  --palettes-neutral-3: #bfbfbf;
  --palettes-neutral-4: #ababad;
  --palettes-neutral-5: #777d85;
  --palettes-error-1: #9c0000;
  --palettes-info-1: #095caf;
  --palettes-info-2: #4785c2;
  --palettes-warn-1: #e1dedb;
  --palettes-warn-2: #ca630a;
  --palettes-correct-1: #0e6b34;
  --mixes-primary-1: #2a8692;
  --mixes-primary-2: #000000;
  --mixes-primary-for-active-1: #acdce3;
  --mixes-primary-for-active-2: #1e616a;
  --mixes-primary-text-on-white-1: #fff;
  --mixes-primary-text-on-white-2: #216a74;
  --mixes-secondary-button-1: #d9d9d9;
  --mixes-secondary-button-2: #1f656e;
  --mixes-input-neutral-border-1: #94d1d9;
  --mixes-input-neutral-border-2: #656a71;
  --colors-primary-as-text: #216a74;
  --colors-primary-as-text-on-bg: #216a74;
  --colors-primary-as-control: #2a8692;
  --colors-primary-as-control-on-bg: #2a8692;
  --colors-primary-for-hover: #b4e0e5;
  --colors-primary-for-hover-on-bg: #b4e0e5;
  --colors-primary-for-active: #acdce3;
  --colors-primary-for-active-on-bg: #acdce3;
  --colors-primary-for-selected: #a1d8df;
  --colors-primary-for-selected-on-bg: #a1d8df;
  --colors-primary-for-matrix-hover: #9fd7de;
  --colors-primary-for-matrix-hover-on-bg: #9fd7de;
  --colors-primary-for-selected-hover: #94d1d9;
  --colors-primary-for-selected-hover-on-bg: #94d1d9;
  --colors-primary-for-sbs-column-hover: #87cbd4;
  --colors-primary-for-sbs-column-hover-on-bg: #87cbd4;
  --colors-primary-for-focus: #257782;
  --colors-primary-for-focus-on-bg: #257782;
  --colors-primary-for-border: #5eb7c2;
  --colors-primary-for-border-on-bg: #5eb7c2;
  --palettes-text-1-on-bg: #202325;
  --palettes-text-2-on-bg: #414548;
  --palettes-text-3-on-bg: #595c5e;
  --palettes-text-4-on-bg: #636568;
  --palettes-bg-1-on-bg: #e2e2e2;
  --palettes-bg-2-on-bg: #dddddd;
  --palettes-bg-3-on-bg: #d9d9d9;
  --palettes-bg-4-on-bg: #d2d3d4;
  --palettes-bg-5-on-bg: #000000;
  --palettes-neutral-1-on-bg: #d2d2d2;
  --palettes-neutral-2-on-bg: #cbcbcb;
  --palettes-neutral-3-on-bg: #bfbfbf;
  --palettes-neutral-4-on-bg: #ababad;
  --palettes-neutral-5-on-bg: #777d85;
  --palettes-error-1-on-bg: #9c0000;
  --palettes-info-1-on-bg: #095caf;
  --palettes-info-2-on-bg: #4785c2;
  --palettes-warn-1-on-bg: #e1dedb;
  --palettes-warn-2-on-bg: #ca630a;
  --palettes-correct-1-on-bg: #0e6b34;
}
