@charset "utf-8";

div.qa-q102 td.mt-input1 { background-color: Lavender;}
div.qa-q102 td.mt-input2 { background-color: White;}
div.qa-q102 td.mt-hyosoku { text-align: left;}
div.qa-q102 td.mt-c1 { text-align: center;}
div.qa-q102 td.mt-c2 { text-align: center;}
div.qa-q102 td.mt-c3 { text-align: center;}
div.qa-q102 td.mt-c4 { text-align: center;}
div.qa-q102 td.mt-c5 { text-align: center;}
div.qa-q102 td.mt-c6 { text-align: center;}
div.qa-q102 td.mt-c7 { text-align: center;}
div.qa-q102 td.mt-c8 { text-align: center;}
div.qa-q102 td.mt-r1 { vertical-align: middle;}
div.qa-q102 td.mt-r2 { vertical-align: middle;}
div.qa-q102 td.mt-r3 { vertical-align: middle;}
div.qa-q102 td.mt-r4 { vertical-align: middle;}
div.qa-q102 td.mt-r5 { vertical-align: middle;}

div.qa-q103 td.mt-input1 { background-color: Lavender;}
div.qa-q103 td.mt-input2 { background-color: White;}
div.qa-q103 td.mt-hyosoku { text-align: left;}
div.qa-q103 td.mt-c1 { text-align: center;}
div.qa-q103 td.mt-c2 { text-align: center;}
div.qa-q103 td.mt-c3 { text-align: center;}
div.qa-q103 td.mt-c4 { text-align: center;}
div.qa-q103 td.mt-c5 { text-align: center;}
div.qa-q103 td.mt-c6 { text-align: center;}
div.qa-q103 td.mt-c7 { text-align: center;}
div.qa-q103 td.mt-c8 { text-align: center;}
div.qa-q103 td.mt-c9 { text-align: center;}
div.qa-q103 td.mt-c10 { text-align: center;}
div.qa-q103 td.mt-r1 { vertical-align: middle;}
div.qa-q103 td.mt-r2 { vertical-align: middle;}

div.qa-q104 td.mt-input1 { background-color: Lavender;}
div.qa-q104 td.mt-input2 { background-color: White;}
div.qa-q104 td.mt-hyosoku { text-align: left;}
div.qa-q104 td.mt-c1 { text-align: center;}
div.qa-q104 td.mt-c2 { text-align: center;}
div.qa-q104 td.mt-c3 { text-align: center;}
div.qa-q104 td.mt-c4 { text-align: center;}
div.qa-q104 td.mt-c5 { text-align: center;}
div.qa-q104 td.mt-r1 { vertical-align: middle;}
div.qa-q104 td.mt-r2 { vertical-align: middle;}
div.qa-q104 td.mt-r3 { vertical-align: middle;}
div.qa-q104 td.mt-r4 { vertical-align: middle;}
div.qa-q104 td.mt-r5 { vertical-align: middle;}
div.qa-q104 td.mt-r6 { vertical-align: middle;}
div.qa-q104 td.mt-r7 { vertical-align: middle;}
div.qa-q104 td.mt-r8 { vertical-align: middle;}
div.qa-q104 td.mt-r9 { vertical-align: middle;}
div.qa-q104 td.mt-r10 { vertical-align: middle;}

div.qa-q999 td.mt-input1 { background-color: Lavender;}
div.qa-q999 td.mt-input2 { background-color: White;}
div.qa-q999 td.mt-hyosoku { text-align: left;}
div.qa-q999 td.mt-c1 { text-align: center;}
div.qa-q999 td.mt-c2 { text-align: center;}
div.qa-q999 td.mt-c3 { text-align: center;}
div.qa-q999 td.mt-r1 { vertical-align: middle;}
div.qa-q999 td.mt-r2 { vertical-align: middle;}
div.qa-q999 td.mt-r3 { vertical-align: middle;}
div.qa-q999 td.mt-r4 { vertical-align: middle;}
div.qa-q999 td.mt-r5 { vertical-align: middle;}
div.qa-q999 td.mt-r6 { vertical-align: middle;}
div.qa-q999 td.mt-r7 { vertical-align: middle;}
div.qa-q999 td.mt-r8 { vertical-align: middle;}
div.qa-q999 td.mt-r9 { vertical-align: middle;}
div.qa-q999 td.mt-r10 { vertical-align: middle;}

div.qa-q5 td.mt-input1 { background-color: Lavender;}
div.qa-q5 td.mt-input2 { background-color: White;}
div.qa-q5 td.mt-hyosoku { text-align: left;}
div.qa-q5 td.mt-c1 { text-align: center;}
div.qa-q5 td.mt-c2 { text-align: center;}
div.qa-q5 td.mt-c3 { text-align: center;}
div.qa-q5 td.mt-c4 { text-align: center;}
div.qa-q5 td.mt-c5 { text-align: center;}
div.qa-q5 td.mt-c6 { text-align: center;}
div.qa-q5 td.mt-c7 { text-align: center;}
div.qa-q5 td.mt-c8 { text-align: center;}
div.qa-q5 td.mt-c9 { text-align: center;}
div.qa-q5 td.mt-c10 { text-align: center;}
div.qa-q5 td.mt-c11 { text-align: center;}
div.qa-q5 td.mt-c12 { text-align: center;}
div.qa-q5 td.mt-c13 { text-align: center;}
div.qa-q5 td.mt-c14 { text-align: center;}
div.qa-q5 td.mt-c15 { text-align: center;}
div.qa-q5 td.mt-c16 { text-align: center;}
div.qa-q5 td.mt-c17 { text-align: center;}
div.qa-q5 td.mt-r1 { vertical-align: middle;}
div.qa-q5 td.mt-r2 { vertical-align: middle;}
div.qa-q5 td.mt-r3 { vertical-align: middle;}
