@use "../../assets/styling/Variables";


.text-control-error-message{
  color: red;
  font-size: 16px;
}

.text-retry-button{
    width: fit-content;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    background: red;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    &:hover{
      box-shadow: '0 0 5px rgba(0,0,0,0.2)',
    }
    &:active{
      background: '#b70000'
    }
}

.icon {
  height: 20px;
  width: 20px;
  position: absolute;

  right: 20px;
  top: 30%;

  @media (max-width: 340px) and (max-height: 500px) {
    top: 22%;
    width: 14px;
  }
}

.loaderIcon {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1400ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1400ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1400ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
